[time]
startTime = 2019/12/06 21:45:00
frequency = 3

[login]
email     = YOUR@EMAIL.com
password  = YOURPASSWORD

[flight]
departure     = DEPARTURE
arrival       = ARRIVAL
adult         = 1
children      = 0
baby          = 0
oneway        = 0
return        = 1
departureDate = 2020/01/01
returnDate    = 2020/03/19

[service]
vip           = 0

[contact]
email         = YOUR@EMAIL.com
tel           = YOURTELEPHONE

[Adultinfo]
a1            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F
a2            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F

[Childinfo]
c1            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F
c2            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F

[Babyinfo]
b1            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F
b2            = YOURFIRSTNAME,YOURLASTNAME,2020/01/01,F
